.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 350px;
    gap: 20px;
    color: white;
}
#input1{
    width: 200px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(214, 214, 214);
}
#input2{
    width: 200px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(223, 223, 223);
}
.btn{
    width: 230px;
    background-color: orange;
    border: none;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}